.TimeAndGreetings {
    display: block;
    bottom: 0;
    width: 100%;
    text-align: center;
    /*transform: translate(-50%, -50%);*/
    position: absolute;
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding-bottom: 25px;
}

.TimeAndGreetings h1 {
    font-size: 48px;
}

.TimeAndGreetings h2 {
    font-size: 20px;
}

.TimeAndGreetings h4 {
    font-size: 14px;
}