.Header {
    height: 45px;
    color: #fff;
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
}

.Header_childContainer {
    padding: 10px 50px;
}

.Header__child {
    font-size: 14px;
    list-style: none;
    min-width: 80px;
    display: inline-block;
}

.Header__child:hover {
    text-decoration: underline;
    cursor: pointer;
}

.Header__child--brand {
    font-weight: 700;
}

.Header__child--flyRight {
    float: right;
}